<!-- include header -->
<%- include('../../include/_header') %>

<main id="site-main">
    <div class="container">
        <h2 class="mb-4 fw-bold">
            Promociones destacadas
        </h2>
    </div>
    <div class="container-cards">
        <% productos.forEach(p => { %>
        <div class="card" style="width: 18rem;">
             <img 
                src="<%= (p.fotos && p.fotos.length > 0) 
                  ? p.fotos[0] 
                  : '/assets/img/default.jpg' %>" 
                class="card-img-top" 
             alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= p.nombre %></h5>
                <p class="card-text"><%= p.descripcion %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">$ <%= p.precio %></li>
                <li class="list-group-item">Disponible</li>
                <li class="list-group-item">Cantidad en Stock: <%= p.stock %></li>
            </ul>
            <div class="card-body">
                <a href="/Detalles/<%= p._id %>" class="card-link">Ver Detalles</a>
                <form action="/add-to-carrito" method="POST" style="display:inline;">
                    <input type="hidden" name="productoId" value="<%= p._id %>">
                    <button type="submit" class="card-link">🛒 Agregar</button>
                </form>                        
            </div>
        </div>
        <% }) %>
    </div>
</main>

<%- include('../../include/_footer') %>
