
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
<main id="site-main">
    <h1>Categoria: <%= categoria.nombre %></h1>
    <div class="container-cards">
        <% productos.forEach(p => { %>
        <div class="card" style="width: 18rem;">
            <!-- <img src="<%= p.foto %>" class="card-img-top" alt="..."> -->
             <img 
                src="<%= (p.fotos && p.fotos.length > 0) 
                  ? p.fotos[0] 
                  : '/assets/img/default.jpg' %>" 
                class="card-img-top" 
                alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= p.nombre %></h5>
                <p class="card-text"><%= p.descripcion %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">$ <%= p.precio %></li>
                <li class="list-group-item">Disponible</li>
                <li class="list-group-item">Cantidad en Stock: <%= p.stock %></li>
            </ul>
            <div class="card-body">
                <a href="/Detalles/<%= p._id %>" class="card-link">Ver Detalles</a>
                <a href="/Carrito/<%= p._id %>" class="card-link">🛒 Agregar</a>                        
            </div>
        </div>
        <% }) %>
    </div>

</main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
