<%- include('include/_headerAdmin') %>

<h1>Editar Marca</h1>

<form action="/api/marcas/<%= brand._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

  <input type="text" name="nombre" value="<%= brand.nombre %>" />

  <br><br>

  <img src="<%= brand.foto %>" width="100">

  <br><br>

  <input type="file" name="foto" />

  <br><br>

  <button type="submit">Actualizar Marca</button>

</form>

<%- include('include/_footerAdmin') %>